$COLORS_BLUE: #718bff;
$COLORS_GRAY: #9a9a9a;
$COLORS_BLACK: #252530;
$COLORS_YELLOW: #ffe936;

$BORDER_COLOR_GRAY: #ededed;
$BOX_SHADOW: 0 5px 15px rgba(black, 0.05);

$MAX_WIDTH: 500px;
$NAVBAR_HEIGHT: 58px;
