@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
}

$ff: "Open Sans", serif;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #dbdbdb;
  font-family: $ff;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: auto;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

input,
input::placeholder {
  font-family: $ff;
  outline: none;
  font-weight: normal;
}
