@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

$ff: "Open Sans", serif;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: $ff;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

input, input::placeholder {
  font-family: $ff;
  outline: none;
  font-weight: normal;
}