@import "./../../styles/themes/default";

:local(.container) {
  width: 100%;
  padding-bottom: $NAVBAR_HEIGHT;
  background-color: white;
}

:local(.skin) {
  margin-top: 0px;
  padding: 0 0 20px 0;
  box-shadow: $BOX_SHADOW;
}

:local(.buttons) {
  background-color: white;
  box-shadow: $BOX_SHADOW;
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

:local(.button) {
  width: 100%;
  flex-shrink: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: $COLORS_BLACK;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
