@import "./../../styles/themes/default";

:local(.container) {
  height: 45px;
  background-color: $COLORS_BLACK;
  color: white;
  border-radius: 45px;
  margin: auto;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 0 2px 8px rgba(black, 0.4);
  cursor: pointer;
  user-select: none;
}
