@import "./../../../../styles/themes/default";

:local(.container) {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: $COLORS_BLACK;
}

:local(.message) {
  margin-top: 70px;
  p {
    padding: 5px 0;
  }

  p span {
    display: inline-block;
    color: white;
    background-color: $COLORS_BLACK;
    border-radius: 100px;
    padding: 5px 10px;
  }
}
