@import "./../../styles/themes/default";

:local(.container) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  max-width: $MAX_WIDTH;
  margin: auto;
}
