@import "./../../styles/themes/default";

:local(.container) {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  z-index: 4;
}

:local(.fixedTop) {
  composes: container;
  top: 0;
}

:local(.fixedBottom) {
  composes: container;
  bottom: 0;
}
