@import "./../../styles/themes/default";

:local(.container) {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-shadow: $BOX_SHADOW;
}

:local(.title) {
  color: $COLORS_BLACK;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

:local(.back) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: $COLORS_BLACK;
  padding: 0 15px;
  cursor: pointer;
}
