:local(.container) {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
  margin: auto;
  height: 58px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  box-shadow: 0 -5px 7px rgba(black, 0.02);
}
