@import "./../../styles/themes/default";

:local(.container) {
  height: 55px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: relative;
  border-bottom: 1px $BORDER_COLOR_GRAY solid;
}

:local(.noBorder){
  border: none;
}

:local(.left) {
  position: relative;
  z-index: 2;
}

:local(.right) {
  position: relative;
  z-index: 2;
  margin-left: auto;
}

:local(.user) {
  display: flex;
}

:local(.thumb) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

:local(.userInfo) {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 10px;
}

:local(.userInfoReversed) {
  composes: userInfo;
  margin-left: 0;
  margin-right: 10px;
  text-align: right;
}

:local(.username) {
  color: $COLORS_BLACK;
  font-size: 12px;
  font-weight: 600;
}

:local(.userRank) {
  color: $COLORS_YELLOW;
  font-size: 12px;
  margin-top: 5px;
}

:local(.result) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: $COLORS_BLACK;

  span {
    padding: 0 10px;
    color: $COLORS_GRAY;
    font-size: 10px;
    text-transform: uppercase;
  }
}
