@import "./../../styles/themes/default";

:local(.container) {
}

:local(.choiceContainer){
  padding: 30px 0 60px 0;
  border: 1px solid $BORDER_COLOR_GRAY;
}

:local(.roundInfo){
  margin-top: 30px;
  text-align: center;
  padding-bottom: 15px;
  
  h1 {
    font-size: 14px;
    font-weight: 600;
    color: $COLORS_BLACK;
  }

  h2 {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: $COLORS_GRAY;
    margin-top: 5px;
  }
}

:local(.usersWrapper) {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

:local(.user) {
  display: inline-flex;
  background-color: $COLORS_BLACK;
  height: 53px;
  align-items: center;
  border-radius: 53px;
  padding: 0 20px 0 8px;
  margin-left: 15px;
  box-shadow: 0 2px 8px rgba(black, 0.4);
  margin-top: 15px;
  user-select: none;
}

:local(.userInfo) {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 10px;
}

:local(.username) {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

:local(.userRank) {
  color: $COLORS_YELLOW;
  font-size: 12px;
  margin-top: 5px;
}

:local(.slider){
  margin-top: 30px;
}

:local(.history) {
  margin-top: 50px;
}



:local(.sectionTitle) {
  padding-left: 15px;
  font-size: 12px;
  font-weight: 600;
  color: $COLORS_GRAY;
  border-bottom: 1px solid $BORDER_COLOR_GRAY;
  padding-bottom: 5px;
}
