* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}
