@import "./../../styles/themes/default";

:local(.container) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  max-width: $MAX_WIDTH;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(white, 0.7);
  margin: auto;
}
